html {
  box-sizing: border-box;
}

.App {
  text-align: center;
  align-items: start;
  justify-content: center;
}

.App > div {
  margin: 30px;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.abso {
  position: absolute;
}

.chessboard-container {
  border: 3px dashed black;
  /* width: 50vw; */
}


.chessboard {
  z-index: -5;
}

.chessboard-container h3 {
  z-index: 5;
}

.chessboard-pieces {
  z-index: 5;
}

.options-container {
  margin: 10px;
}

.options-container h3 {
  margin: 0px 5px;
}

.each-square {
  width: 40px;
  height: 40px;
  box-sizing: border-box;

}

.each-piece {
  width: 32px;
  height: 32px;
  margin: 4px;
  cursor: pointer;
  border: black solid 1px;
  box-sizing: border-box;
}

.empty-space {
  width: 32px;
  height: 32px;
  margin: 4px;
  box-sizing: border-box;
  z-index: 5;
  
}

.red-piece {
  background-color: red;
  color: red;
}

.black-piece {
  background-color: black;
  color: black;
}

.circle-piece {
  border-radius: 50%;
}

.square-piece {
  border-radius: 0%;
}

.clicked-piece {
  border: 3px dashed yellow;
}

.suggested-move {
  background: linear-gradient( lightblue,  lightblue );
  border: black 2px dashed;
  cursor: pointer;
}

.blocked-move {
  background: linear-gradient( red,  red );
  border: black 2px dashed;
  cursor: pointer;
}

.centered {
  justify-content: center;
  align-items: center;
}


/* Alternating Chessboard Squares */

.each-row:nth-child(odd) .each-square:nth-child(odd) {
  background-color: darkgray;
}

.each-row:nth-child(odd) .each-square:nth-child(even) {
  background-color: white;
}

.each-row:nth-child(even) .each-square:nth-child(even) {
  background-color: darkgray;
}

.each-row:nth-child(even) .each-square:nth-child(odd) {
  background-color: white;
}
